@import url("https://fonts.googleapis.com/css2?family=Inter&family=Laila:wght@500&family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}
.login {
  display: flex;
  margin-top: 50px;
}
body {
  background-image: url("./assets/loginbg.png");
  background-repeat: no-repeat;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  color: white;
  border: 0cm;
  padding: 18px 10px;
  margin: 10px;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.form-control input,
.input {
  width: 80%;
  margin: 10px !important;
  padding: 15px 10px;
  font-size: 17px;
}

h1 {
  font-family: "Laila", sans-serif !important;
  text-align: left;
  margin-left: 65px !important;
  margin-bottom: 10px !important;
  color: #0ba3d3 !important;
}

h2 {
  text-align: center;
}
.login-img {
  margin-top: -90px;
}
.donut {
  margin-top: 200px;
  width: 50%;
}
.chart {
  margin-left: 30px;
}
.users_title {
  margin-left: 120px;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
  color: #0ba3d3;
  font-size: 30px;
}
.doctors_title {
  text-align: center;
  margin-right: 160px;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
  color: #0ba3d3;
  font-size: 30px;
}
.charts {
  display: flex;
}
.sidenav {
  margin-top: 78px;
  display: "block";
  width: fit-content;
  background-color: white !important;
  color: #0ba3d3 !important;
  margin-left: 0px;
}
.logo {
  width: 180px;
  height: 100px;
}
.item {
  overflow: hidden;
  border-radius: 5px;
  background-color: white !important;
  color: #000a50 !important;
  font-family: "Inter", sans-serif !important;
}
.rs-sidenav-toggle {
  border-top: none !important;
}
.rs-sidenav-toggle-button {
  background-color: white !important;
  border-radius: 20px;
}
.rs-sidenav-item-active {
  background-color: #b6e4f2 !important;
  color: white !important;
  font-weight: bold;
}
.rs-btn-icon.rs-btn > .rs-icon {
  color: #000a50 !important;
}

.all_users {
  border-collapse: collapse;
  margin-bottom: 5%;
  margin-left: 10%;
  border-radius: 10px;
  max-height: 30px;
  min-width: 100%;
  margin-top: 0%;
  overflow: scroll;
  background-color: #b6e4f2;
}

th,
td {
  font-size: larger;
  text-align: center;
  justify-content: center;
}

th {
  padding: 12px !important;
  font-family: "Laila", sans-serif !important;
  text-align: center;
  color: #000a50;
  font-size: x-large;
}

td {
  padding: 10px !important;
  font-family: "Laila", sans-serif !important;
  color: #000a50;
  font-size: large;
}

tr:nth-child(even) {
  background-color: white;
}

.rs-theme-light,
:root {
  --rs-tooltip-bg: rgb(180, 202, 204) !important;
  color: white;
}
.logout {
  float: right;
  width: 45px;
  height: 45px;
  color: white;
  margin: 10px;
}
.search {
  color: #000a50;
  font-size: x-large;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
}
.filter {
  height: fit-content;
  width: fit-content;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.top {
  display: flex;
}
label {
  margin-right: 5px;
}
.searchTitle {
  width: 65% !important;
}
.box {
  border-radius: 10px;
  height: 45px;
  width: 175px;
  color: #0ba3d3;
  font-size: large;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
}
.user_type {
  color: #000a50;
  font-size: 50px;
  font-family: "Laila", sans-serif !important;
  font-weight: bolder;
  margin-left: 120px;
  text-shadow: 2px 2px #6da8d4d3;
}
.add input[type="text"],
.add input[type="email"],
.add input[type="password"] {
  border: none;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid white;
  outline: none;
  height: 37px;
  color: white;
  background: transparent;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}
.add input[type="text"]:focus,
.add input[type="email"]:focus,
.add input {
  border-bottom: 2px solid #0ba3d3;
}
.add input[type="text"]:hover,
.add input[type="email"]:hover,
.add input[type="password"]:hover {
  color: #0ba3d3;
  border: 1px solid #0ba3d3 ;
  box-shadow: 0 0 5px white, 0 0 10px rgba(229, 99, 63, 0.2),
    0 0 15px rgba(255, 77, 0, 0.1), 0 2px 0 black;
}
.add input {
  width: 100%;
  margin-bottom: 10px;
}

.add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-height: 400px;
  background-color: #b6e4f2;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  color: #000a50;
  margin-top: 5%;
}

.title {
  color: #000a50;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: "Laila", sans-serif !important;
  font-weight: bolder;
  text-shadow: 2px 2px #6da8d4d3;
  text-align: center;
  padding-bottom: 25px;
}
.logColor{
  color: #000a50;
  font-size: 20px;
  font-weight: bold;
}
.add-btn {
  color: #000a50;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  font-weight: bolder;
  margin-left: 49%;
  margin-top: 30px;
  width: 170px;
}

.submit-btn {
  color: #000a50;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  font-weight: bolder;
  margin-left: 35%;
  margin-top: 30px;
  width: 170px;
}