@import url("https://fonts.googleapis.com/css2?family=Inter&family=Laila:wght@500&family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}
.login {
  display: flex;
  margin-top: 40px;
}
body {
  background-image: url("./assets/loginbg.png");
  background-repeat: no-repeat;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  color: white;
  border: 0cm;
  padding: 18px 10px;
  margin: 5px;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.form-control input,
.input {
  width: 80%;
  margin: 5px !important;
  padding: 15px 10px;
  font-size: 17px;
}

h1 {
  font-family: "Laila", sans-serif !important;
  text-align: left;
  margin-left: 45px !important;
  color: #0ba3d3 !important;
}

h2 {
  text-align: center;
}
.login-img {
  margin-top: 40px;
}
.donut {
  margin-top: 200px;
  width: 50%;
}
.chart {
  margin-left: 30px;
}
.users_title {
  margin-left: 120px;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
  color: #0ba3d3;
  font-size: 30px;
}
.doctors_title {
  text-align: center;
  margin-right: 160px;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
  color: #0ba3d3;
  font-size: 30px;
}
.charts {
  display: flex;
}
.sidenav {
  margin-top: 78px;
  display: "block";
  width: fit-content;
  background-color: white !important;
  color: #0ba3d3 !important;
  margin-left: 0px;
}
.logo {
  width: 180px;
  height: 100px;
}
.item {
  overflow: hidden;
  border-radius: 5px;
  background-color: white !important;
  color: #000a50 !important;
  font-family: "Inter", sans-serif !important;
}
.rs-sidenav-toggle {
  border-top: none !important;
}
.rs-sidenav-toggle-button {
  background-color: white !important;
  border-radius: 20px;
}
.rs-sidenav-item-active {
  background-color: #b6e4f2 !important;
  color: white !important;
  font-weight: bold;
}
.rs-btn-icon.rs-btn > .rs-icon {
  color: #000a50 !important;
}
table{
  border-collapse: collapse;
  margin-left: 5%;
  margin-top: 13%;
  margin-bottom: 5%;
  width: 65%;
  border-radius: 10px;
  max-height: 30px;
  overflow: scroll;
  background-color: #b6e4f2;
}

.all_users {
  border-collapse: collapse;
  margin-bottom: 5%;
  margin-left: 10%;
  border-radius: 10px;
  max-height: 30px;
  min-width: 100%;
  margin-top: 0%;
  overflow: scroll;
  background-color: #b6e4f2;
}

th,
td {
  font-size: larger;
  text-align: center;
  justify-content: center;
}

th {
  padding: 12px !important;
  font-family: "Laila", sans-serif !important;
  text-align: center;
  color: #000a50;
  font-size: x-large;
}

td {
  padding: 10px !important;
  font-family: "Laila", sans-serif !important;
  color: #000a50;
  font-size: large;
}

tr:nth-child(even) {
  background-color: white;
}

.rs-theme-light,
:root {
  --rs-tooltip-bg: rgb(180, 202, 204) !important;
  color: white;
}
.logout {
  float: right;
  width: 45px;
  height: 45px;
  color: white;
  margin: 10px;
}
.search {
  color: #000a50;
  font-size: x-large;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
}
.filter {
  height: fit-content;
  width: fit-content;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.top {
  display: flex;
}
label{
  margin-right: 5px;
}
.searchTitle{
  margin-top: 5%;
  width: 65% !important;
}
.box{
  border-radius: 10px;
  height: 45px;
  width: 175px;
  color: #0ba3d3;
  font-size: large;
  font-family: "Laila", sans-serif !important;
  font-weight: bold;
}